# Pandas

## Pandas简介
易于使用的数据结构和数据处理工具

In [1]:
from pandas import Series, DataFrame

In [3]:
import pandas as pd
s1 =pd.Series([157,80,167,90])
s1

0    157
1     80
2    167
3     90
dtype: int64

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.values

array([157,  80, 167,  90])

#### Series使用

In [12]:
s2 = pd.Series([100,78,65,77],index=["chinese","english","history","maths"])
s2

chinese    100
english     78
history     65
maths       77
dtype: int64

In [13]:
s2[["english","history"]]

english    78
history    65
dtype: int64

In [14]:
d1 = {"name":"张三","Gender":"男","age":20,"height":181, "weight":66}

In [15]:
s3 = pd.Series(d1)
s3

name       张三
Gender      男
age        20
height    181
weight     66
dtype: object

In [16]:
s3[['name','age','height']]

name       张三
age        20
height    181
dtype: object

#### Dataframe使用

由字典创建DataFrame

In [19]:
dfPerson = {'name':['tom','jack','kitty','eric'], 'age':[20,21,19,22],'height':[180,178,170,182],'weight':[66,65,52,75]}
dfPerson

{'name': ['tom', 'jack', 'kitty', 'eric'],
 'age': [20, 21, 19, 22],
 'height': [180, 178, 170, 182],
 'weight': [66, 65, 52, 75]}

In [20]:
personSheet = pd.DataFrame(dfPerson)
personSheet

    name  age  height  weight
0    tom   20     180      66
1   jack   21     178      65
2  kitty   19     170      52
3   eric   22     182      75

查看前五行信息

In [22]:
personSheet.head(5)

    name  age  height  weight
0    tom   20     180      66
1   jack   21     178      65
2  kitty   19     170      52
3   eric   22     182      75

查看列名

In [23]:
personSheet.columns

Index(['name', 'age', 'height', 'weight'], dtype='object')

personSheet查看值

In [25]:
personSheet.values#转化为矩阵形式

array([['tom', 20, 180, 66],
       ['jack', 21, 178, 65],
       ['kitty', 19, 170, 52],
       ['eric', 22, 182, 75]], dtype=object)

In [26]:
personSheet.age

0    20
1    21
2    19
3    22
Name: age, dtype: int64