# 出租车数据的集计与基础图表绘制

## 读取数据

In [2]:
#读取GPS数据
import pandas as pd
data = pd.read_csv('/home/liu/Documents/pygeo-tutorial/data-sample/TaxiData-Sample', header = None)
data.columns = ['VehicleNum', 'Stime', 'Lng', 'Lat', 'OpenStatus', 'Speed']
data.head(5)

   VehicleNum     Stime         Lng        Lat  OpenStatus  Speed
0       22271  22:54:04  114.167000  22.718399           0      0
1       22271  18:26:26  114.190598  22.647800           0      4
2       22271  18:35:18  114.201401  22.649700           0      0
3       22271  16:02:46  114.233498  22.725901           0     24
4       22271  21:41:17  114.233597  22.720900           0     19

In [7]:
TaxiOD = pd.read_csv('/home/liu/Documents/pygeo-tutorial/data-sample/TaxiOD.csv')
TaxiOD.columns = ['VehicleNum','Stime','SLng','SLat','Elng','Elat','Etime']
TaxiOD.head()

,VehicleNum,Stime,SLng,SLat,Elng,Elat,Etime
0,22223,00:03:23,114.167465,22.562468,114.225235,22.552750,00:10:48
1,22223,00:11:33,114.227150,22.554167,114.229218,22.560217,00:15:19
2,22223,00:17:13,114.231354,22.562166,114.255798,22.590967,00:29:06
3,22223,00:36:45,114.240196,22.563650,114.119965,22.566668,00:54:42
4,22223,01:01:14,114.135414,22.575933,114.166748,22.608267,01:08:17

## 每小时GPS数据量绘图
### 将需要绘制的数据算出来
该步骤主要用到df.groupby功能
我们要集计每小时的数据,那就需要由一列的内容表示数据属于哪个小时,然后以那列数据为集记.因此这里我们对data的Stime列处理,得到该时间所属的小时.

In [ ]:
import time
timeflag = time.time()